.app__body {
  max-width: var(--max-width);
  display: flex;
  margin: 0 auto;
  display: grid;
  margin-top: 15px;
}
.home__grid {
  grid-template-columns: 20% 55% 25%;
}
.profile__grid {
  width: 800px;
  margin: 15px auto;
}
