.chat {
  background: white;
  border-radius: 10px;
  position: relative;
  height: 385px;
  overflow: hidden;

  margin-top: 15px;
  margin-right: 15px;
}

.chat__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 16px 16px 0 16px;
}
.chat__top > h3 {
  font-size: 16px;
  font-weight: 600;
}
.chat__top > svg {
  height: 15px;
  width: 15px;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
  background: #2e67c2;
  color: white;
}
.rotate {
  transform: rotate(135deg);
  background: black !important;
}
.chat__top > svg:hover {
  cursor: pointer;
}

.conversation {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 16px;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  color: rgb(48, 47, 47);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conversation__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversation__top > svg {
  cursor: pointer;
  height: 15px;
  width: 15px;
}
.conversation__top > h6 {
  font-size: 16px;
}

.conversation__button {
  cursor: pointer;
}

.recipient {
  font-size: 12px;
  /* background: lightgray; */
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 5px 8px;
}

.recipient:hover {
  background-color: #dfdeff;
}
.recipient > span {
  color: white;
  background: rgb(255, 81, 81);
  height: 15px;
  width: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  font-weight: 600;
}

.recipient > svg {
  height: 15px;
  width: 15px;
  color: #2e67c2;
}

.conversation__messages {
  height: fit-content;
  max-height: 290px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.conversation__messages::-webkit-scrollbar {
  display: none;
}

.conversation__form {
}

.message {
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px 0;
  width: fit-content;
  max-width: 80%;
  font-size: 12px;
  font-family: monospace;
  color: black;
}

.sent {
  background: rgba(255, 255, 255, 0.395);
  margin-left: auto;
  margin-right: 0;
}
.received {
  background: #8f8eff;
  margin-right: auto;
  margin-left: 0;
}

.conversation__form {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.conversation__form > input {
  padding: 5px;
  border-radius: 5px;
  color: rgb(33, 32, 32);
  background: #eef3f8;
  border: none;
  outline: none;
  width: 100%;
  font-family: monospace;
  margin-right: 10px;
  box-sizing: border-box;
}
.conversation__form > button {
  border-radius: 30px;
  padding: 5px 15px;
  border: none;
  background: #2e67c2;
  color: white;
  cursor: pointer;
}
