.create__post__modal {
  z-index: 20 !important;
  border: 1px solid blue;
  background: white;
  padding: 16px;
  position: fixed;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  height: auto;
  width: 500px;
  text-align: right;
}

.create__post__modal > svg {
  height: 15px;
  width: 15px;
  background: black;
  color: white;
  border-radius: 50%;
  transform: rotate(45deg);
  margin-bottom: 10px;
  cursor: pointer;
}
.create__post {
  padding: 16px;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
}
.create__post__top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.create__post__top > svg {
  font-size: 50px;
  color: gray;
}

.create__post__start__button {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid gray;
  outline: none;
  padding: 16px;
  font-weight: 600;
  width: 100%;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}

.create__post__form {
  display: flex;
  flex-direction: column;
}
.create__post__text {
  border-radius: 5px;
  background: lightgray;
  color: var(--black);
  border: none;
  outline: none;
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  height: 150px;
}

.create__post__form > label {
  margin: 8px 0 0 0;
  cursor: copy;
}

.create__post__top > form > input[type='file'] {
  border: none;
}
.create__post__photo__preview {
  width: 100%;
}
.create__post__button {
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 6px;
  border: none;
  background: #2e67c2;
  color: white;
  cursor: pointer;
}
.create__post__bottom {
  display: flex;
}
.post__icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 5px;
}
.post__icon:hover {
  background: lightgray;
  cursor: pointer;
  border-radius: 2px;
}

.post__icon > svg {
  margin-right: 5px;
}

.post__icon > p {
  font-weight: bold;
  font-size: 14px;
  color: gray;
}

textarea::-webkit-input-placeholder {
  color: var(--black);
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: var(--black);
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--black);
}

textarea:-ms-input-placeholder {
  color: var(--black);
}

textarea::placeholder {
  color: var(--black);
}
