.create__post {
  padding: 10px;
  border: 1px solid lightgray;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
}

.create__post__top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.create__post__top > svg {
  font-size: 50px;
  color: gray;
}

.create__post__top > form {
  width: 100%;
  display: flex;
}
.create__post__top > form > input {
  margin-left: 10px;
  border-radius: 25px;
  border: 1px solid gray;
  outline: none;
  padding: 16px 10px;
  font-weight: 600;
  width: 100%;
  font-size: 14px;
}
.create__post__bottom {
  display: flex;
}
.post__icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 5px;
}
.post__icon:hover {
  background: lightgray;
  cursor: pointer;
  border-radius: 2px;
}

.post__icon > svg {
  margin-right: 5px;
}

.post__icon > p {
  font-weight: bold;
  font-size: 14px;
  color: gray;
}
