@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap');
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background: white;
}
.header__container {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.header__left {
  display: flex;
}
.header__left > a {
  height: 40px;
  text-decoration: none;
  color: black;
  margin-right: 15px;
}
.header__left > a > img {
  object-fit: contain;
  height: 40px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
}
.logo > span {
  color: #8f8fff;
}

.header__right {
  display: flex;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: grey;
  background: #eef3f8;
  margin: 0 10px;
  width: 205px;
}

.header__search > input {
  border: none;
  outline: none;
  background: none;
}
