.Header__Option {
  color: gray;
  text-align: center;
  /* margin: 0 10px; */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.Header__Option:hover {
  cursor: pointer;
  color: black;
}

.Header__Option > h3 {
  font-size: 12px;
  font-weight: 400;
}

.Header__Option > img {
  object-fit: contain;
  height: 45px;
  border-radius: 50%;
}
