.post {
  background: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 10px;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 10px 10px 5px 10px;
}

.post__account__info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__account__info > h6 {
  font-size: 14px;
}
.post__account__info > p {
  font-size: 12px;
  color: gray;
  font-weight: 500;
}

.post__image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.post__body {
  padding: 10px 10px 5px 10px;
  font-size: 14px;
}

.post__interaction {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
  font-weight: 500;
}
.post__likes {
  display: flex;
  align-items: center;
}

.post__likes > svg {
  color: #0a66c2;
  font-size: 12px;
  margin-right: 5px;
}

.post__comments:hover {
  color: #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}

.post__icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  margin-top: 5px;
}
.icon__container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.icon__container > svg {
  margin-right: 10px;
  color: gray;
}

.icon__container > p {
  color: gray;
  font-size: 14px;
  font-weight: 600;
}
