.comments__container {
  margin-top: 12px;
  /* background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */
  /* padding: 10px; */
  overflow: scroll;
  max-height: 250px;
  border-radius: 5px;
}

.comment {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background: rgba(156, 156, 156, 0.395);
}
.comment__header {
  display: flex;
  align-items: space-between;
}
.comment__owner {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.comment__owner > h6 {
  font-size: 12px;
}
.comment__owner > p {
  font-size: 10px;
}
.comment__content {
  font-family: monospace;
  margin-top: 12px;
}

.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
