.post {
  background: white;

  border-radius: 10px;
  margin-bottom: 15px;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 10px 10px 5px 10px;
}

.post__account__info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post__account__info > h6 {
  font-size: 14px;
  font-weight: 600;
}
.post__account__info > p {
  font-size: 12px;
  color: gray;
  font-weight: 400;
}

.post__profile__pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post__image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.post__body {
  padding: 10px 10px 5px 10px;
  font-size: 14px;
  font-family: monospace;
}

.post__interaction {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
  font-weight: 500;
}
.post__likes {
  display: flex;
  align-items: center;
}

.post__likes > svg {
  color: #0a66c2;
  font-size: 12px;
  margin-right: 5px;
}

.post__comments__counter:hover {
  color: #0a66c2;
  text-decoration: underline;
  cursor: pointer;
}

.post__icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  margin-top: 5px;
}
.icon__container {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.icon__container > svg {
  margin-right: 10px;
  color: gray;
}

.icon__container > p {
  color: gray;
  font-size: 14px;
  font-weight: 600;
}
.post__comments {
  width: 100%;
  padding: 10px;
}
.post__comments > form {
  width: 100%;
}
.post__comments > form > textarea {
  border-radius: 5px;
  background: lightgray;
  color: var(--black);
  border: none;
  outline: none;
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  height: 60px;
  min-width: 100%;
  max-width: 100%;
  resize: none;
}
.post__comments > form > button {
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 6px;
  border: none;
  background: #2e67c2;
  color: white;
  cursor: pointer;
}
