.sidebar {
  position: sticky;
  top: 80px;
  height: fit-content;
  font-size: 12px;
  margin-right: 15px;
}

.sidebar__top,
.sidebar__stats {
  padding: 20px;
}

.sidebar__top {
  background: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__top__banner {
  position: absolute;
  width: 100%;
  height: 45%;
  top: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  z-index: 0;
  object-fit: cover;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.sidebar__top__banner > img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.sidebar__profile__img {
  height: 60px;
  width: 60px;
  z-index: 1;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 60px;
  object-fit: cover;
}

.sidebar__top > h2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
.sidebar__top > h6 {
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

.sidebar__stats {
  border-top: none;
  background: white;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.sidebar__stats > :first-child {
  margin-bottom: 5px;
}

.sidebar__stat {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: 600;
}

.sidebar__stat > :last-child {
  color: #0a66c2;
  font-weight: bold;
}

.sidebar__bottom {
  background: white;
  border: 1px solid lightgray;
  border-radius: 9px;
  margin-top: 10px;
  padding: 20px 20px 10px 20px;
}
.sidebar__bottom > h6 {
  font-size: 12px;
  margin-bottom: 10px;
}

.topic__container {
  display: flex;
  margin-bottom: 5px;
  border-radius: 5px;
  color: gray;
  font-weight: 600;
  padding: 5px;
}
.topic__container:hover {
  cursor: pointer;
  background: lightgray;
  color: black;
}
.hashtag {
  margin-right: 10px;
  font-weight: bold;
}
.logout {
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 16px;
  border: none;
  background: #2e67c2;
  color: white;
  cursor: pointer;
}
