.profile__container {
  flex: 0.6;
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
  background: white;
  margin-bottom: 16px;
  position: relative;
}
.profile__container__top {
  min-height: 150px;
}
.banner__image,
.profile__image {
  cursor: pointer;
}
.profile__banner {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 200px;
  left: 0;
  top: 0;
}
.banner__image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.profile__image {
  position: absolute;
  border-radius: 50%;
  left: 15px;
  top: 145px;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 4px solid white;
}
.user__display__name {
  margin-right: 16px;
}
.profile__container__bottom {
  margin-top: 50px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.follow__button__container {
  height: 30px;
}

.follower__count {
  color: #2e67c2;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 5px 15px;
  height: 30px;
  font-size: 10px;
  font-weight: 600;
  margin-left: 8px;
  width: 120px;
  border: 1px solid #2e67c2;
}

.following__container {
  display: flex;
  align-items: center;
}

.pointer__events__off {
  pointer-events: none;
  cursor: initial;
}
