.profile__container {
  flex: 0.6;
  width: 100%;
  min-height: 150px;
  border-radius: 10px;
  background: white;
  margin-bottom: 16px;
}
.profile__container__top {
  min-height: 150px;
  position: relative;
}
.banner__image,
.profile__image {
  cursor: pointer;
}
.profile__banner {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.banner__image {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.profile__image {
  position: absolute;
  border-radius: 50%;
  left: 15px;
  top: 145px;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.profile__container__bottom {
  margin-top: 50px;
  padding: 15px;
}
